<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--Место нахождения описания станций-->
    <add key="folder_neman" value="c:\neman\Минск Узел\"/>
    <!--Место нахождения файла настроек-->
    <add key="file_settings" value=".\settings.xml"/>
    <!--Количество шагов назад минимум 5 максимум 50-->
    <add key="count_step_back" value="5"/>
    <!--Ускоренный шаг хода клавишь-->
    <add key="step_keydown" value="10"/>

    <!--Описание геометрии-->

    <!--Ширина главного пути-->
    <add key="wight_high_road" value="39"/>
    <!--Высота главного пути-->
    <add key="height_high_road" value="19"/>
    <!--Ширина сигнала-->
    <add key="wight_signal" value="11"/>
    <!--Высота сигнала-->
    <add key="height_signal" value="11"/>
    <!--Ширина перегонной стрелки-->
    <add key="wight_arrow" value="48"/>
    <!--Высота перегонной стрелки-->
    <add key="height_arrow" value="22"/>
    <!--Ширина элемента номера поездов-->
    <add key="wight_trainnumber" value="48"/>
    <!--Высота элемента номера поездов-->
    <add key="height_trainnumber" value="22"/>
    <!--Толщина линии перегона-->
    <add key="thickness_signal" value="9"/>
    <!--Радиус закругления рамки станции-->
    <add key="radius_ramka" value="3"/>

    <!--Настройки масштабирования-->

    <!--Шаг основного масштабирования в процентах-->
    <add key="defult_scroll" value="5"/>
    <!--Шаг ускоренного масштабирования в процентах-->
    <add key="speed_scroll" value="20"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
